/* Сбрасываем отступы для #root */
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Убираем горизонтальный скролл */
  box-sizing: border-box; /* Для корректного расчета размеров */
}

/* Глобальные стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Включаем box-sizing для всех элементов */
}

/* Стили для ссылок */
a {
  color: inherit; /* Наследуем цвет текста */
  text-decoration: none; /* Убираем подчеркивание */
}

/* Стили для кнопок */
button {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

/* Адаптивные отступы для маленьких экранов */
@media (max-width: 768px) {
  #root {
    padding: 0 1rem; /* Уменьшаем padding */
    overflow-x: hidden; /* Гарантируем отсутствие скролла */
  }
}
