/* Устанавливаем базовые стили для всего документа */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #121212; /* Фон приложения */
  font-family: 'Roboto', sans-serif; /* Глобальный шрифт */
  color: #fff; /* Цвет текста */
}
